[Unit]
Description=OLED Info Startup Script

[Service]
User=pi
WorkingDirectory=/home/pi/pifex/pifex-sw/pifex-ui/
ExecStart=/home/pi/pifex/pifex-sw/pifex-ui/run.sh
Restart=always

[Install]
WantedBy=multi-user.target
